.aside-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 80vh;
  overflow: auto;
  border-right: 1px solid #000;
  // background-color: darkblue;
  .p1 {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    font-weight: bolder;
    user-select: none;
  }
  .lib-sub {
    padding: 10px;
    margin: 5px;
    a{
      color: #fff;
    }
  }
  .aside-bar-container {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  .profile-picture{
    width: 60%;
  }
  .profile-wrapper{
    display: flex;
    justify-content: center;
  }
  .playlist {
    color: #fff;
    flex: 1;
    // .p1 {
    //   border-top: 1px solid #fff;
    // }
    .lib-sub:hover {
      background-color: #a2d5f2;
    }
  }
}

@media only screen and (max-width: 970px) {
  .aside-bar {
    display: none;
  }
}
